<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Activity - Homework Planner</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
</head>
<body>
    {% include "components/header.html" %}
    {% include "components/flashes.html" %}
    {% include "components/sidebar.html" %}

    {% from "macros/form.html" import form_field with context %}

    <script src="{{url_for('static', filename='src/main.js')}}"></script>
    <script>
        function validateForm() {
            const form = document.getElementById("add_activity_form");
        }
    </script>

    <form id="add_activity_form" onsubmit="validateForm()" method="POST">
        <div class="bg-white shadow-md rounded px-8 pt-6 pb-6 mb-4 flex flex-col">
            {{ form_field('Activity name', 'activity_name', 'Enter name') }}
            {{ form_field('Start time', 'start_time', '', type='time') }}
            {{ form_field('End time', 'end_time', '', type='time') }}
            {{ form_field('Start date', 'start_date', '', type='datetime-local', required=0) }}
            {{ form_field('End date', 'end_date', '', type='datetime-local', required=0) }}

            <button
                class="
                    bg-blue-500 hover:bg-blue-900 text-white
                    py-2 px-4
                    font-bold
                    rounded"
                type="submit">Save</button>
        </div>
    </form>
</body>
</html>
