<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Homework planner - Calendar</title>
  <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
</head>

<body>
    {% include "components/header.html" %}
    {% include "components/flashes.html" %}
    {% include "components/sidebar.html" %}
    <!-- https://tailwindcomponents.com/component/calendar-ui-with-tailwindcss-and-alpinejs-->

    <script>
        const months = [
            "January", 
            "February",
            "March",
            "April",
            "May",
            "June",
            "July",
            "August",
            "September",
            "October",
            "November",
            "December"];
        function getMonthName(month) {
            return months[month - 1];
        }
    </script>

    {% if month_view %}
        <div>
            <p>{% month %} </p>
            <div class="grid grid-cols-7">
                <div>Monday</div>
                <div>Tuesday</div>
                <div>Wednesday</div>
                <div>Thursday</div>
                <div>Friday</div>
                <div>Saturday</div>
                <div>Sunday</div>
                {% for day in days %}
                    <div>
                        day
                    </div>
                {% endfor %}
            </div>
        </div>
    {% else %}
        {% for activity in activities %}
        <div>
        </div>
        {% endfor %}
    {% endif %}

</body>

</html>
