<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homework planner - Calendar</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
</head>

<body>
    </style>
    {% include "components/header.html" %}
    {% include "components/flashes.html" %}
    {% include "components/sidebar.html" %}
    <!-- https://tailwindcomponents.com/component/calendar-ui-with-tailwindcss-and-alpinejs-->

    <script>
    </script>

    {% if month_view %}
        <div>
            <div class="flex flex-row justify-center items-center pb-5">
                <a href="{{url_for('calendar', year=prev_month_year, month=prev_month)}}">&lt;</a>
                <p class="text-lg font-bold px-5">{{ month_name }} </p>
                <a href="{{url_for('calendar', year=next_month_year, month=next_month)}}">&gt;</a>
            </div>
            <div class="grid grid-cols-7 content-center place-items-stretch bg-slate-300 gap-0.5">
                <div class="bg-white">Monday</div>
                <div class="bg-white">Tuesday</div>
                <div class="bg-white">Wednesday</div>
                <div class="bg-white">Thursday</div>
                <div class="bg-white">Friday</div>
                <div class="bg-white">Saturday</div>
                <div class="bg-white">Sunday</div>

                {% for _ in range(first_day) %}<div class="bg-white"></div>{% endfor %}

                {% for day in days %}
                    <div
                        class="bg-white p-1 items-center place-items-center rounded-lg">
                        <center>
                            <a href="{{url_for('calendar', year=year, month=month, day=loop.index)}}">
                        <div class="
                            inline-flex
                            w-6 h-6 p-0.5
                            items-center
                            self-center
                            justify-center
                            cursor-pointer
                            text-center
                            leading-none
                            rounded-full
                            transition
                            ease-in-out
                            duration-100
                            {% if today == loop.index %}
                                bg-blue-200 hover:bg-blue-300
                            {% else %}
                                bg-gray-200 hover:bg-gray-300
                            {% endif %}
                            "
                            style="margin:0 auto;">
                            {{loop.index}}</div>
                            </a>
                            </center>
                        {% for (homework, chunk) in day %}
                            <p>{{ homework.name }}</p>
                        {% endfor %}
                    </div>
                {% endfor %}
                {% for _ in range(36 - (days|length)) %}
                    <div class="bg-white"></div>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <p>{{month_name}} {{day}}, {{year}}</p>
        <a href="{{url_for('calendar', year=year, month=month)}}" class="link">Back to {{month_name}}</a>
        <ul class="list-disc">
            {% for (homework, chunk) in chunksWithActs %}
                <li>
                    <p>{{ homework.name }}: {{ chunk.start_time.strftime('%H:%M') }} to {{ chunk.end_time.strftime('%H:%M') }}</p>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

</body>

</html>
