<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homework planner - Calendar</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
</head>

<body>
    </style>
    {% include "components/header.html" %}
    {% include "components/flashes.html" %}
    {% include "components/sidebar.html" %}
    <!-- https://tailwindcomponents.com/component/calendar-ui-with-tailwindcss-and-alpinejs-->

    <script>
        const months = [
            "January",
            "February",
            "March",
            "April",
            "May",
            "June",
            "July",
            "August",
            "September",
            "October",
            "November",
            "December"];
        function getMonthName(month) {
            return months[month - 1];
        }
    </script>

    {% if month_view %}
        <div>
            <p>{{ month }} </p>
            <div class="grid grid-cols-7 content-center place-items-stretch bg-slate-300 gap-0.5">
                <div class="bg-white">Monday</div>
                <div class="bg-white">Tuesday</div>
                <div class="bg-white">Wednesday</div>
                <div class="bg-white">Thursday</div>
                <div class="bg-white">Friday</div>
                <div class="bg-white">Saturday</div>
                <div class="bg-white">Sunday</div>
                {% for _ in range(first_day) %}
                    <div class="bg-white">
                    </div>
                {% endfor %}
                {% for day in days %}
                    <div
                        class="bg-white items-center place-items-center"
                            ><center>
                        <div class="
                            inline-flex
                            w-6 h-6
                            items-center
                            self-center
                            justify-center
                            cursor-pointer
                            text-center
                            leading-none
                            rounded-full
                            transition
                            ease-in-out
                            duration-100
                            bg-gray-200 hover:bg-gray-300
                            "
                            style="margin:0 auto;">
                            {{loop.index0 + 1}}</div></center>
                        {% for (activity, chunk) in day %}
                            <p>{{ activity.name }}</p>
                            <p>{{ chunk.start_time.strftime('%H:%M') }}</p>
                            <p>{{ chunk.end_time.strftime('%H:%M') }}</p>
                        {% endfor %}
                    </div>
                {% endfor %}
                {% for _ in range(36 - (days|length)) %}
                    <div class="bg-white"></div>
                {% endfor %}
            </div>
        </div>
    {% else %}
        {% for activity in activities %}
        <div>
        </div>
        {% endfor %}
    {% endif %}

</body>

</html>
