<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homework planner</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
</head>

<body>
    {% include "components/flashes.html" %}

    <div class="bg-slate-600 pt-8 pb-8">
        <a href="{{url_for('index')}}">
            <center>
                <p class="font-sans text-5xl text-teal-400">Homework planner</p>
            </center>
        </a>
    </div>

    <div>
        <ul class="flex flex-wrap text-sm font-medium text-center text-gray-500 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400">
            <li class="mr-2">
                <a href="{{url_for('signup')}}" class="btn-tab-inactive">
                    Sign up
                </a>
            </li>
            <li class="mr-2">
                <a href="{{url_for('login')}}" class="btn-tab-inactive">
                    Log in
                </a>
            </li>
        </ul>
    </div>

</body>

</html>
