<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homework planner</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
</head>
<body>
    {% from "macros/form.html" import form_field with context %}

    <form method="POST">
        {% include 'components/flashes.html' %}
        <div class="bg-white shadow-md rounded px-8 pt-6 pb-6 mb-4 flex flex-col">
            <!-- From https://stackoverflow.com/a/38948646 -->
            <ul class="flex relative flex-row justify-center items-center">
                <li class="flex">
                    <p>Login</p>
                </li>
                <!-- todo figure out why class absolute isn't working -->
                <li class="flex absolute top-0 right-0" style="position:absolute">
                    <a class="inline-block link" href="{{ url_for('index') }}">Back home</a>
                </li>
            </ul>

            {{ form_field('Username', 'username', 'Enter username', extra='autocomplete="username"') }}
            {{ form_field('Password', 'password', 'Enter password', type='password', extra='autocomplete="current-password"') }}
            <div class="pb=4">
                <input class="bg-blue-500 hover:bg-blue-800" type="checkbox" id="remember" name="remember" checked="checked">
                <label for="remember">Remember me</label>
            </div>
            <div class="flex items-center justify-between">
                <button
                    class="
                        bg-blue-500 hover:bg-blue-800 text-white
                        py-2 px-4
                        font-bold
                        rounded"
                    type="submit">Sign In</button>
                <a class="inline-block link" href="#">Forgot Password?</a>
            </div>
            <div>
                <p class="pt-4">
                    Don't have an account yet?
                    <a class="inline-block link" href="{{ url_for('signup') }}">Sign up</a>
                </p>
            </div>
        </div>
    </form>
</body>
</html>
