<ul class="float-left space-y-2 text-sm font-medium text-center text-gray-500 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400">
    {% macro tab(name, endpoint, endpoint2 = '') %}
        <li class="mr-2">
            <a href="{{url_for(endpoint)}}"
            {% if request.url_rule.endpoint == endpoint or request.url_rule.endpoint == endpoint2 %}
                class="btn-tab-active"
            {% else %}
                class="btn-tab-inactive"
            {% endif %}
            >{{name}}</a>
        </li>
    {% endmacro %}


    {{ tab("What's today", 'whats_today', 'index') }}
    {{ tab('Calendar', 'calendar') }}
    {{ tab('Add activity', 'add_activity') }}
    {{ tab('Add block', 'add_block') }}
    {{ tab('Add Settings', 'settings') }}
    <li class="mr-2">
        <a href="{{url_for('logout')}}" class="btn-tab-inactive">Logout</a>
    </li>
</ul>
