{% include "components/shared_header.html" %}

<ul class="tabs">
    <li class="mr-2">
        <a href="{{url_for('whats_today')}}"
        {% if request.url_rule.endpoint == "whats_today" or request.url_rule.endpoint == "index" %}
            class="btn-tab-active"
        {% else %}
            class="btn-tab-inactive"
        {% endif %}
        >What's today</a>
    </li>
    <li class="mr-2">
        <a href="#"
        {% if request.url_rule.endpoint == "calendar" %}
            class="btn-tab-active"
        {% else %}
            class="btn-tab-inactive"
        {% endif %}
        >Calendar</a>
    </li>
    <li class="mr-2">
        <a href="#"
        {% if request.url_rule.endpoint == "add_activity" %}
            class="btn-tab-active"
        {% else %}
            class="btn-tab-inactive"
        {% endif %}
        >Add Activity</a>
    </li>
    <li class="mr-2">
        <a href="#"
        {% if request.url_rule.endpoint == "settings" %}
            class="btn-tab-active"
        {% else %}
            class="btn-tab-inactive"
        {% endif %}
        >Settings</a>
    </li>
</ul>
